.rating {
    display: flex;
    align-items: center;
    gap: var(--28px);
    font-weight: 300;
    font-size: var(--font-size-20);
}

.stars {
    display: flex;
    gap: 3px;
}

.star {
    width: 25px;
    height: 25px;
}
