.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Stolzl';
}

.title {
  margin-bottom: 8px;
  font-size: 16px; 
  font-weight: 300;
  color: #000;
}

.asterisk {
    color: var(--pink);
    margin-left: 4px;
    font-size: 18px;
}

.input {
  padding: 14px 16px;
  border: 1px solid #C5C5C5;
  border-radius: 40px;
  font-size: 1rem;
  color: #000;
  background-color: white;
  transition: border-color 0.2s ease;

  &:focus {
    outline: none;
    border-color: var(--main-blue);
    box-shadow: 0 0 0 2px rgba(0, 72, 168, 0.1);
  }

  &:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
    border-color: #e0e0e0;
  }
}