.book {
    width: 100%;
    height: auto;
    justify-content: space-between;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: var(--20px);
    color: black;
    font-weight: 300;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    .cover {
        aspect-ratio: 3/4;
        transition: all 0.3s ease;
    }

    .like {
        cursor: pointer;
        position: absolute;
        top: 2%;
        right: 3%;
        width: 38px;
        height: 38px;
        z-index: 1;
        border: none;
        background: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;

        .stroke {
            stroke: #909090;
            transition: all 0.3s ease;
        }

        &:hover {
            transform: scale(1.05);

            .icon {
                transform: scale(1.05);
                color: var(--pink);
            }

            .stroke {
                stroke: var(--pink);
            }
        }

        .icon {
            width: 38px;
            height: 38px;
            color: white;
            transition: all 0.3s ease;
        }
    }

    .info {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5px;
        font-size: var(--font-size-18);
    }

    .description {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .name {
        padding-bottom: 12px;
        font-weight: 400;
        max-width: 90%;
    }

    .year {
        display: flex;
        gap: 13px;
        align-items: center;
        font-size: var(--font-size-20);
    }

    .rating {
        display: flex;
        gap: 6px;
        align-items: center;
        font-weight: 300;

        .star {
            width: 31px;
            height: 31px;
        }

        .value {
            position: relative;
            top: 1px;
        }
    }

    .tags {
        width: 100%;
        max-width: 100%;
        min-width: 0;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: hidden;
        gap: 8px;
    }

    .tag {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        list-style: none;
        border: 1px solid black;
        padding: 10px 16px;
        border-radius: 40px;
        flex-shrink: 1;
        min-width: 0;
    }

    .tag:not(:last-child) {
        flex-shrink: 0;
    }

    .more {
        position: absolute;
        top: 0px;
        right: -2px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: var(--20px);
      
    }

    .popup {
        position: absolute;
        top: 95%;
        right: 13px;
        z-index: 1;
        animation: fadeIn 0.2s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .menu {
        width: 35px;
        height: 25px;
        cursor: pointer;
        border: none;
        background: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &:hover {
            .icon {
                transform: scale(1.1);
            }
        }

        .icon {
            width: 18px;
            height: 18px;
            transition: all 0.3s ease;
        }
    }

    .button {
        width: 100%;
        // background-color: var(--pink);
        // color: white;
        padding: 10px;
        font-size: var(--font-size-16);
        transition: all 0.3s ease;

        // &:hover {
        //     background-color: #d63384;
        // }

        &:active {
            transform: translateY(0);
        }
    }
}
