.main {
    position: relative;
    width: 100%;
    height: 728px;
    color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;

    background: linear-gradient(180deg, #1a1a2e 0%, #0f3460 100%);

    .banner {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 57%;
        height: auto;
        z-index: 1;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        z-index: 0;
    }

    &::before {
        left: 0;
        width: 46%;
        height: auto;
        aspect-ratio: 1;
        background-image: url('../../assets/images/left_main_img.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left bottom;
    }

    &::after {
        right: 0;
        width: 52%;
        height: auto;
        aspect-ratio: 1;
        background-image: url('../../assets/images/right_main_img.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    .text {
        width: 55%;
        margin-top: 7vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        gap: var(--40px);

        .title {
            font-family: 'Nauryz';
            font-size: var(--font-size-96);
            color: var(--pink);
            z-index: 2;
        }

        .subtitle {
            font-size: var(--font-size-36);
            font-weight: 300;
            text-align: center;
            z-index: 2;
        }

        .button {
            font-family: 'Stolzl';
            font-size: var(--font-size-20);
            font-weight: 300;
            border: 2px solid var(--pink);
            z-index: 2;
            padding: var(--20px) var(--32px);
            color: white;
        }
    }
}
