.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    width: 80%;
    margin: var(--60px) auto;
    flex: 1;
}

.mainPage {
    width: 100%;
    margin: 0 auto;
    flex: 1;
}
