.collection {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: 300;
    min-width: 180px;
    text-decoration: none;
    font-size: var(--font-size-20);
    gap: var(--28px);
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-4px);

        .image {
            filter: brightness(0.9);
        }

        .point {
            transform: translate(-50%, -50%) scale(1.1);
            background-color: #f8f8f8;
        }

        .icon {
            transform: scale(1.1);
        }
    }

    .cover {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .image {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-radius: 8px;
            transition: filter 0.2s ease;
        }

        .status {
            position: absolute;
            top: 0;
            left: 0;
            padding: 6px 12px;
            border-radius: 8px;
            background-color: var(--main-blue);
            color: white;
            font-size: var(--font-size-14);
            font-weight: 300;
        }
    }

    .point {
        width: 28%;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        transition: all 0.3s ease;

        .icon {
            width: 50%;
            height: 50%;
            transition: transform 0.3s ease;
        }
    }

    .link {
        cursor: pointer;
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        gap: var(--20px);
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .rating {
        display: flex;
        gap: 3px;
        align-items: center;

        .value {
            position: relative;
            top: 2px;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: var(--12px);
    }
}

.coverMore {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
}

.blueBackground {
    width: 100%;
    aspect-ratio: 16/9;
    background: var(--main-blue);
    border-radius: 8px;
    transition: filter 0.2s ease;
}

.number {
    font-size: var(--font-size-26);
    color: var(--pink);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
