.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--20px);
}

.filters {
    display: flex;
    flex-direction: row;
    gap: var(--20px);
}

.searchBar {
     display: flex;
    flex-direction: row;
    gap: var(--20px);
}

.button {
    background-color: var(--pink) !important;
    color: white;
    flex-shrink: 0;
    padding: 22px 26px !important;
}


